<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>
<!-- Keys -->


    {% for post in site.posts %}
    <div class="keys">
      <div data-key="{{ post.keycode }}" class="keys">
      <span class"sound">{{ post.title }}</span>
    </div>
    </div>
    <audio data-key="{{ post.keycode }}" src="{{ post.file }}"></audio>
    {% endfor %}
    

<style>
  .key {
  border: 2px solid black;
  width: 100px;
  height: 100px;
  
  text-align: center;
  line-height: 100px;
}
</style>

<script>
  function playSound(e) {
 const audio = document.querySelector(`audio[data-key="${e.keyCode}"]`);
 const key = document.querySelector(`.key[data-key="${e.keyCode}"]`);
 
  if (!audio) 
  return; // stop the function
 
 audio.currentTime = 0; // rewind to the start 
 audio.play();
 key.classList.add('playing');
}

function removeTransition(e) {
 if (e.propertyName !== 'transform') 
  return; // skip it if it's not a transform
 this.classList.remove('playing');
}

  const keys = document.querySelectorAll('.key');
  keys.forEach(key => key.addEventListener('transitionend', removeTransition));
  window.addEventListener('keydown', playSound);
</script>


    {% include footer.html %}

  </body>

</html>
